#textdomain wesnoth-Milestones

    # links to the achievements of the seperate parts of this scenario:
    
    {~add-ons/Milestones/part-I/achievements.cfg}
    # {~add-ons/Milestones/part-II/achievements.cfg}
    # {~add-ons/Milestones/part-III/achievements.cfg}
    # {~add-ons/Milestones/part-IV/achievements.cfg}
    # {~add-ons/Milestones/part-V/achievements.cfg}
