#textdomain wesnoth-Milestones
#   Ruined Villages
#     zero income, no heal
[terrain_type]
    symbol_image=village/human-cottage-ruin-tile
    id=cottage_ruin_zeroincome
    name= _ "Village"
    editor_name= _ "Ruined Village"
    string=^Vhz
    aliasof=_bas, Vt
    default_base=Gd
    heals=1
    gives_income=yes
    # see: village_gold=0 inside [side] 
    income_description="This ruined and raided village cannot provide gold."
    editor_group=Milestones
[/terrain_type]

[terrain_type]
    symbol_image=village/human-hills-ruin-tile
    id=stonehouse_ruin_zeroincome
    name= _ "Village"
    editor_name= _ "Ruined Hill Village"
    string=^Vhhz
    aliasof=_bas, Vt
    default_base=Hhd
    heals=1
    gives_income=yes
    income_description="This ruined and raided village cannot provide gold."
    editor_group=Milestones
[/terrain_type]

[terrain_type]
    symbol_image=misc/windmill-tile
    id=windmill_ruin__zeroincome
    name= _ "Village"
    editor_name= _ "Ruined Windmill Village"
    string=^Vwmz
    aliasof=_bas, Vt
    default_base=Gd
    heals=1
    gives_income=yes
    income_description="This ruined and raided village cannot provide gold."
    editor_group=Milestones
[/terrain_type]

#define URBAN_JUNGLE ID
    [terrain_type]
        icon_image=symbols/terrain_type_urban
        symbol_image=urbanjungle{ID}
        id=urbanjungle{ID}
        string=^Vj{ID}
        default_base=Rr

        def_alias=^Vhc
        mvt_alias=Mm
        editor_group=Milestones

        name= _ "Urban"
        editor_name= _ "Urban"
        description= _ "Urban"
        help_topic_text= _ "Densely packed structures are less suitable for garrison than traditional villages, providing no income or healing. They are difficult to navigate quickly, but offer significant protection."
    [/terrain_type]
#enddef

{URBAN_JUNGLE A}
{URBAN_JUNGLE B}
{URBAN_JUNGLE C}
{URBAN_JUNGLE D}
{URBAN_JUNGLE E}

{URBAN_JUNGLE Ar} # r for ruins
{URBAN_JUNGLE Br}
{URBAN_JUNGLE Cr}
{URBAN_JUNGLE Dr}
{URBAN_JUNGLE Er}

{URBAN_JUNGLE F}
{URBAN_JUNGLE G}

{URBAN_JUNGLE H}
{URBAN_JUNGLE I}
{URBAN_JUNGLE J}
{URBAN_JUNGLE K}
{URBAN_JUNGLE L}
{URBAN_JUNGLE M}
{URBAN_JUNGLE N}
{URBAN_JUNGLE O}
{URBAN_JUNGLE P}
