#textdomain wesnoth-Milestones

# -----------------------------------------------------------------------------
# SCENARIO 01: THE 1st SCENARIO STAGE
# -----------------------------------------------------------------------------

[scenario]
    id=01_ScenarioStage
    name=_ "The First Battle"
    map_data="{~add-ons/Milestones/part-I/campaign/maps/01_ScenarioStage.map}"
    next_scenario=99_Epilogue
    turns=30

    {DEFAULT_SCHEDULE}
    {MILESTONES_INIT}

    {SPAWN_DRAMATISPERSONAE 1 protagonistes 4 4}

    [side]
        side=1
        controller=human
        canrecruit=yes
        {PROTAGONISTES_TEAM}
        gold=100
    [/side]

    # No more manual Lua preload or start events needed here!
[/scenario]
