#textdomain wesnoth-Milestones

# -----------------------------------------------------------------------------
# CHAPTER 03: 
# -----------------------------------------------------------------------------

[scenario]
    # No more manual Lua preload or start events needed here!
    id=03_Chapter
    name=_ "The Third Battle"
    map_data="{~add-ons/Milestones/part-I/campaign/maps/03_Chapter.map}"
    next_scenario=04_Chapter
    turns=30

    {DEFAULT_SCHEDULE}
    {MILESTONES_INIT}

    {SPAWN_DRAMATISPERSONA 1 protagonistes 0 0}

    [side]
        side=1
        controller=human
        canrecruit=yes
        {PROTAGONISTES_TEAM}
        gold=100
    [/side]

    # VICTORY EVENT
    [event]
        name=enemies defeated
        [message]
            speaker=$milestones.dramatispersonae.protagonistes.id
            message=_ "A decisive victory! Onward to the next milestone."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
            next_scenario=04_Chapter
        [/endlevel]
    [/event]
[/scenario]