#textdomain wesnoth-Milestones

#define GENDERWML MALE FEMALE
  [if]
      [have_unit]
          id=Protagonistes
          gender=male
      [/have_unit]
      [then]
          {MALE}
      [/then]
      [else]
          {FEMALE}
      [/else]
  [/if]
#enddef

#define SELECT_GENDER
[event]
  name=start
  # gender selection loop of your protagonist   
  [select_gender][/select_gender]
[/event]
#enddef