#textdomain wesnoth-Milestones

[textdomain]
    name="wesnoth-Milestones"
    path="data/add-ons/Milestones/part-I/translations"
[/textdomain]

# ---------------------------------------------------------
# wmlscope: set export=no
[campaign]
    id=Milestones-I
    name=_ "Milestones"
    abbrev=_ "MFC"
    define=CAMPAIGN_MILESTONES-I
    type=sp
    first_scenario=00_Prologue
    rank=1  # Currently the mainline campaigns use multiples of 5 from 0 to 249,
            # with 0-49 for Rookie campaigns, 50-99 for Novice campaigns,
            # 100-149 for Intermediate campaigns, 150-199 for Hard campaigns,
            # and 200-249 for Expert campaigns; if you specify this,
            # it should not be less than 300.
            # We start at 451.
    start_year="0 YW"
    end_year="1 YW"
    # wmllint: markcheck off
    description= _ "<span color='#BCB088' size='large'>Milestones</span>
    " + _"<i>Milestones</i> is a campaign that tells the myth of how the endless resistance was born – and failed eventually due to corruption and the oppression of the peoples. The campaign is set in the world of Wesnoth.
    <span color='#909090'><small><i>Note: In the beginning, players can choose between a female or male maincharacter. The </i>Beginner<i> difficulty level is aimed at first-time players.</i></small></span>
    " + _"(Novice level, [4 scenarios to come]), https://r.wesnoth.org/t51654 )"
    # wmllint: markcheck on
    icon="data/add-ons/Milestones/part-I/images/campaign_icon.webp"
    image="data/add-ons/Milestones/part-I/images/campaign_image.webp"
    background="data/add-ons/Milestones/part-I/images/background.webp"
    {CAMPAIGN_DIFFICULTY EASY   "data/add-ons/Milestones/part-I/images/easy.webp~RC(magenta>blue)" _"Easy 🍀"     _"1× enemies"} 
    {CAMPAIGN_DIFFICULTY NORMAL "data/add-ons/Milestones/part-I/images/normal.webp~RC(magenta>blue)" _"Normal 🔆" _"2× enemies"} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD   "data/add-ons/Milestones/part-I/images/hard.webp~RC(magenta>blue)" _"Hard 😈"     _"3× enemies"}
    
    [about]
        title= _ "Original Campaign Design"
        text="chol"
    [/about]
    [about]
        title = _ "Campaign Maintenance"
        [entry]
            name = "MathHilda"
        [/entry]
    [/about]
	[about]
		title= _ "Playtesting"
		[entry]
			name="chol, ida13"
		[/entry]
	[/about]
    [about]
        title = _ "Sprite Design"
        [entry]
            name = "Major, chol, et al."
            comment = "Special thanks"
        [/entry]
		[entry]
			name= "wtactics.org"
		[/entry]
		[entry]
			name= "opengameart.org"
		[/entry]
	[/about]
    [about]
        title = _ "Special Music & Sounds"
        [entry]
            name = "Olivier Militon"
            comment = "dragon vert 1 + 2"
        [/entry]
        [entry]
            name = "Hiro Hito"
            comment = "tribal war song"
        [/entry]
        [entry]
            name = "Jeremy Nicoll"
            comment = "reminisce"
        [/entry]
    [/about]
    [about]
        title = _ "Respectful thanks"
        [entry]
            name = "- to everyone not mentioned and who thinks he or she should be"
        [/entry]
    [/about]
    end_text= _ "To be continued .."
	end_text_duration=2000
[/campaign]

# ---------------------------------------------------------
#ifdef CAMPAIGN_MILESTONES-I
    [binary_path]
        path="data/add-ons/Milestones/part-I/campaign/"
    [/binary_path]

    # Load external dependables
    {~add-ons/Liminal_Union/faction.cfg}
    
    # Load lua code
    [lua]
        code=<<
            wesnoth.require '~add-ons/Milestones/part-I/campaign/gender/gender_selection.lua'
        >>
    [/lua]  

    # Load base stuff
    {~add-ons/Milestones/part-I/editor/terrain-type.cfg}
    {~add-ons/Milestones/part-I/editor/terrain-graphics.cfg}
    {~add-ons/Milestones/part-I/campaign/gender/gender_utils.cfg}
    {~add-ons/Milestones/part-I/campaign/images}
    {~add-ons/Milestones/part-I/campaign/music}
    {~add-ons/Milestones/part-I/campaign/utils}

    # Load the rest
    [units]
        {~add-ons/Milestones/part-I/campaign/units}
    [/units] 
    
    # Load scenarios
    {~add-ons/Milestones/part-I/campaign/scenarios}

#endif

# ---------------------------------------------------------
#ifdef EDITOR
    [binary_path]
        path="data/add-ons/Milestones/part-I/"
    [/binary_path]
    [editor_group]
        id=Milestones
        name= _ "Milestones"
        icon="group_custom"
    [/editor_group]
    {~add-ons/Milestones/part-I/editor/terrain-type.cfg}
    {~add-ons/Milestones/part-I/editor/terrain-graphics.cfg}
#endif