#textdomain wesnoth-Milestones

# achievements in the UMC single player scenario Milestones 🌀 [part-I] is based around exploration of the new multiplayer after max level advancement (AMLA)
# in short in each level Milestones units of this era will get an inbetween advancement (half of XP) to level up
# it means that there are two AMLA steps to level up from lvl0 to lvl1 for example
# achievements represent the steps all the units can achieve in advancement
# there are 5 achievements: Bronzeheart, Silverheart, Goldheart, Valorheart, Poor le Mertitë
# to level up one unit all 5 times until the end achievement Meritë in a multiplayer session would be hard 

[achievement_group]
    display_name=_"Milestones 🌀 [part-I]"
    content_for=Milestones_achievements
    [achievement]
        id=brozeheart
        hidden=no
        name="Bronze Heart Award 🎖️"
        name_completed="Bronze Heart Award 🎖️"
        description="For meritorious conduct in the field."
        description_completed="For meritorious conduct in the field."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-bronze.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-bronze.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
    [achievement]
        id=silverheart
        hidden=no
        name="Silver Heart Award 🎖️"
        name_completed="Silver Heart Award 🎖️"
        description="For bravery under enemy fire."
        description_completed="For bravery under enemy fire."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-silver.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-silver.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
    [achievement]
        id=goldheart
        hidden=no
        name="Gold Heart Award 🎖️"
        name_completed="Gold Heart Award 🎖️"
        description="For heroic deeds in action"
        description_completed="For heroic deeds in action."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-gold.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-gold.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
    [achievement]
        id=valorheart
        hidden=no
        name="Award of Valor 🎖️"
        name_completed="Award of Valor 🎖️"
        description="For bravery above and beyond the call of duty."
        description_completed="For bravery above and beyond the call of duty."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-valor.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-valor.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
    [achievement]
        id=pourlemerite
        hidden=no
        name="Order Pour le Meritë 🏅"
        name_completed="Order Pour le Meritë 🏅"
        description="In recognition of the highest levels of heroism demonstrated in a war zone."
        description_completed="In recognition of the highest levels of heroism demonstrated in a war zone."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-merite.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-merite.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
    [achievement]
        id=gallantry
        hidden=no
        name="Citation of Gallantry 🎗"
        name_completed="Citation of Gallantry 🎗"
        description="For exceptional fearlessness in the face of evil."
        description_completed="For exceptional fearlessness in the face of evil."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-gallantry.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/amla-gallantry.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
    [achievement]
        id=simulacrum
        hidden=no
        name="Simulacrum 🫥"
        name_completed="Simulacrum 🫥"
        description="For creating a real without origin where signs and images float free from any underlying material truth."
        description_completed="For creating a real without origin where signs and images float free from any underlying material truth."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/simulacrum.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/simulacrum.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
    [achievement]
        id=golem
        hidden=no
        name="Golem (max G9) 💀"
        name_completed="Golem (max G9) 💀"
        description="In recognition of the highest levels of heroism demonstrated in a war zone by a Neural Curie Mainframe."
        description_completed="In recognition of the highest levels of heroism demonstrated in a war zone by a Neural Curie Mainframe."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/golem.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/golem.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
    [achievement]
        id=phoenix
        hidden=no
        name="Cycle of the Phoenix 🔥"
        name_completed="Cycle of the Phoenix 🔥"
        description="For achieving the mystical state of metempsychosis in a reborn phoenix."
        description_completed="For achieving the mystical state of metempsychosis in a reborn phoenix."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/phoenix.png~RC(magenta>blue), 0, 0)"
        icon_completed="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/add-ons/Milestones/part-I/images/achievements/phoenix.png~RC(magenta>blue), 0, 0)~BLIT(misc/achievement-frame-mp.png, 0, 0)"
    [/achievement]
[/achievement_group]